
*.xml
homework/bin/Debug/homework.exe
homework/bin/Debug/homework.pdb
homework/obj/Debug/homework.exe
homework/obj/Debug/homework.pdb
homework/obj/Debug/homework.csproj.CoreCompileInputs.cache
*.exe
